# Virtual Environment
venv/
.venv/
env/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Temporary scripts & internal temp cache
scratch/
sp/
.temp/
*.log

# Freebuff internal
.freebuff/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
